{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

    <div class="container">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Добро пожаловать в систему добавления расписания ВПИ</h3>
                    <div class="card-text">
                        Этот сайт преднозначен для внесения расписания в систему. <br>
                        После внесения расписание, к нему можно будет получить доступ через бота в сообществе
                        <a href="https://vk.com/vlzvpi">ВПИ, неформальненько</a>

                        <br><br>
                        Теперь вы можете перейти к <a href="/schedule_list">добавлению расписания</a>
                    </div>
                </div>


            </div>
    </div>

{% endblock %}